# Database Configuration
DATABASE_URL=postgresql://postgres:password@localhost:5432/pokedict

# JWT Configuration
JWT_SECRET=your-secret-key-here

# Gemini API Configuration
GEMINI_API_KEY=AIzaSyBPEhRfHmDfE9Zi6vl0UNrQpTDEMhL2Pgw
